Source: openthread
Priority: optional
Maintainer: TOKITA Hiroshi <soburi@gmail.com>
Build-Depends: debhelper-compat (= 12), automake, libtool, lsb-release, cmake, ninja-build
Standards-Version: 4.4.1
Section: net
Homepage: https://openthread.io/
#Vcs-Browser: https://salsa.debian.org/debian/openthread
#Vcs-Git: https://salsa.debian.org/debian/openthread.git

Package: openthread-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}
Description: development files for openthread
 OpenThread static libraries and headers.
 It is use for build wpantund and ot-br-posix.

Package: ot-daemon
Architecture: any
Multi-Arch: no
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenThread daemon
 ot-daemon is daemon

Package: ot-ctl
Architecture: any
Multi-Arch: no
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenThread control
 ot-ctl is controller
