#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

override_dh_autoreconf:

override_dh_auto_configure:

override_dh_auto_test:

override_dh_auto_build:
	cmake -GNinja --build $(DESTDIR) \
		-DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
		-DOT_COMPILE_WARNING_AS_ERROR=ON \
		-DOT_PLATFORM=posix \
		-DOT_SLAAC=ON \
		-DOT_BORDER_AGENT=ON \
		-DOT_BORDER_ROUTER=ON \
		-DOT_COAP=ON \
		-DOT_COAP_BLOCK=ON \
		-DOT_COAP_OBSERVE=ON \
		-DOT_COAPS=ON \
		-DOT_COMMISSIONER=ON \
		-DOT_CHANNEL_MANAGER=ON \
		-DOT_CHANNEL_MONITOR=ON \
		-DOT_CHILD_SUPERVISION=ON \
		-DOT_DATASET_UPDATER=ON \
		-DOT_DHCP6_CLIENT=ON \
		-DOT_DHCP6_SERVER=ON \
		-DOT_DIAGNOSTIC=ON \
		-DOT_DNS_CLIENT=ON \
		-DOT_ECDSA=ON \
		-DOT_IP6_FRAGM=ON \
		-DOT_JAM_DETECTION=ON \
		-DOT_JOINER=ON \
		-DOT_LEGACY=ON \
		-DOT_MAC_FILTER=ON \
		-DOT_MTD_NETDIAG=ON \
		-DOT_NEIGHBOR_DISCOVERY_AGENT=ON \
		-DOT_PING_SENDER=ON \
		-DOT_REFERENCE_DEVICE=ON \
		-DOT_SERVICE=ON \
		-DOT_SNTP_CLIENT=ON \
		-DOT_SRP_CLIENT=ON \
		-DOT_COVERAGE=ON \
		-DOT_LOG_LEVEL_DYNAMIC=ON \
		-DOT_COMPILE_WARNING_AS_ERROR=ON \
		-DOT_RCP_RESTORATION_MAX_COUNT=2 \
		-DOT_LOG_OUTPUT=PLATFORM_DEFINED \
		-DOT_POSIX_MAX_POWER_TABLE=ON \
		-DOT_DAEMON=ON \
		-DOT_TREL=ON \
		-DOT_COVERAGE=OFF .


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

